@import "leaflet/dist/leaflet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-rice-paper {
  background-color: #f7f2e4;
  background-image:
    radial-gradient(#d8ccb0 0.8px, transparent 0.8px),
    radial-gradient(#ebdcb8 0.8px, #f7f2e4 0.8px);
  background-size: 24px 24px;
  background-position: 0 0, 12px 12px;
}

.hand-drawn-tile-filter {
  filter: sepia(38%) saturate(125%) hue-rotate(-10deg) contrast(95%) brightness(101%);
}